<h1>Log In</h1>
<%= simple_form_for @user, validate: true do |f| %>

<%=link_to "Login via Facebook", "/auth/facebook"%>
  <br></br>


  <div class="box">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
  </div>
  <div class="box">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %>
    <%end%>


