<h1>Log In</h1>
<%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class='center'>
          <div class="error_messages">
            <h2>Form is invalid</h2>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          </div>
        <% end %>
      <br>

<%=link_to "Login via Facebook", "/auth/facebook"%>
  
<br></br>

  <div class="box">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
  </div>
  <div class="box">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", value: "" %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %>
<%end%>

