<%= form_for [@category, @toy] do |f| %>
  
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>

        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
        <br>

        <%= f.label :rating %>
        <%= f.text_field :rating%>
        <br>
        <p>Input number 1-10</p>

        <a href="" class="details-js" data-cat="<%= @category.id %>" >
    <%= f.submit %>
    
<%end%>



