<% @toy.errors.full_messages.each do |m| %>
    <%= m %>
    <%end%>
    
<%= form_for [@category, @toy], :validate => true, :remote => true do |f| %>

    <div class="form-group has-error">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
    </div>

    <div class="form-group has-error">
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
        <br>
        <span class="help-block">Input any number</span>
    </div>

    <div class="form-group has-error">
        <%= f.label :rating %>
        <%= f.text_field :rating%>
        <br>
        <span class="help-block">Input number 1-10</span>
        </div>

    <%= f.submit %>
<%end%>



