<h1>Build a New Toy</h1>

    <%= form_for [@category, @toy] do |f| %>
      <div class="form-horizontal">
      <%= f.label :name %>
      <%= f.text_field :name %>
      </div>
      <br>
    <div class="form-horizontal">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    </div>
    <br>
    <div class="form-horizontal">
    <%= f.label :materials %>
    <%= f.text_field :materials%>
  </div>
  <br>
  <div class="form-horizontal">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
    </div>
    <br>
  <div class="actions"><%= f.submit "Build Toy!" %></div>
    <%end%>
  <br>
