<h1>Sign Up</h1>

<%= form_for @user do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br></br>
      <p> Password must be at least 5 characters <p>
      
      <%= f.label :admin, "Check box if you are Santa" %>
      <%= f.check_box :admin %>

      <br>
    <div class="actions"><%= f.submit "Sign Up" %></div>
  <%end%>
