  
<%= form_for @category do |f| %>
    <%= f.fields_for :toys do |toy| %>
    <li>
      name: <%= toy.text_field :name %>
      qty: <%= toy.text_field :quantity %>
      rating: <%= toy.text_field :rating %>
    </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>