
<div class='center'>
    <div class='border'>
        <h1><%= @category.name %></h1>
    </div>
</div>

<h2>Toy List</h2>
  <ul>
    <table class="table">
        
     <tr>
         <td>Name</td>
         <td>Quantity</td>
         <td>Rating</td>
         <td>Edit</td>
        
        <% @category.toys.each do |toy| %>
         <tr>
             <td><li><%= toy.name %></li></td>             
             <td><%= toy.quantity %></td>
             <td><%= toy.rating %></td>
             <td><%= link_to "Edit Toy", category_toy_path(@category.toys, @category) %></td> 
        </tr>
        <%end%>
    </table>
  </ul>

<%= form_for @category do |f| %>
      <%= f.fields_for :toys do |toy| %>
      <li>
        name: <%= toy.text_field :name %>
        qty: <%= toy.text_field :quantity %>
        rating: <%= toy.text_field :rating %>
      </li>
      <% end %>
      <%= link_to 'add more toys', category_path %>
    </ul>
    <%= f.submit %>
  <% end %>
  