
<div class='center'>
    <div class='border'>
        <h1><%= @category.name %></h1>
    </div>
</div>

<h2>Toy List</h2>
  <ul>
    <table class="table">
        
     <tr>
         <td>Name</td>
         <td>Quantity</td>
         <td>Rating</td>
         <td>Edit</td>
         <td>Delete</td>
        
        <% @category.toys.each do |toy| %>
         <tr>
             <td><li><%= toy.name %></li></td>             
             <td><%= toy.quantity %></td>
             <td><%= toy.rating %></td>
             <td><%= link_to "Edit Toy", edit_category_toy_path(@category)%></td> 
             <td><%= link_to "Delete Toy", category_toy_path(@category), method: :delete, data: { confirm: "Are you sure?"} %></td>
        </tr>
        <%end%>
    </table>
  </ul>
  <br>
  <%= link_to 'build new toy', new_category_toy_path(@category) %>
  <br>
  <%= link_to 'category index', categories_path %>
  <br>
  <%= link_to 'find highly rated toys', category_toy_path(@category) %>

  