<%= render 'admin' %>

<% if !@user.admin %>

  <ul>
    <table class="table">
        
     <tr>
         <td>Name</td>
         <td>Quantity</td>
         <td>Rating</td>
         <td>Edit</td>
         <td>Delete</td>
         
        <% @category.toys.each do |toy| %>
         <tr>
             <td><li><a href="" class="toy-details-js" data-toy-id="<%= @category.toys.ids[0]%>" data-cat-id="<%= @category.id%>"><%= toy.name %></a>
             </li></td>             
             <td><%= toy.quantity %></td>
             <td><%= toy.rating %></td>
             <% if current_user == toy.user %>
             <td><%= link_to "Edit Toy", edit_category_toy_path(@category, toy)%></td> 
             <td><%= link_to "Delete Toy", category_toy_path(@category, toy), method: :delete, data: { confirm: "Are you sure?"} %></td>
        </tr>
        <%end%>
      <%end%>
    </table>
  </ul>   
    <br>
  <%= link_to 'Build New Toy', new_category_toy_path(@category) %>
    <br>
  <%= link_to 'Category Index', categories_path %>
    <br>
  <%= link_to 'Find Highly Rated Toys', popular_category_toys_path(@category) %>
    <br>
  <%= link_to 'Check Out All Toys', toys_path %>
    <br>
    <button id="toy-data">Get Toys</button>
    <button id='toy-form'>New Toy Form</button>
  <%end%>

